<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AmigaGuide Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.gingerbeardman.amigaguide</string>
				<string>com.apple.documentation.guide</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Amiga Guide</string>
	<key>CFBundleName</key>
	<string>Amiga Guide</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AmigaGuide Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.apple.documentation.guide</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>guide</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AmigaGuide Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.gingerbeardman.amigaguide</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>guide</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/x-amigaguide</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
